/* @font-face шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter-Bold.woff),
  url(../fonts/Inter-Bold.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(/fonts/Inter-Regular.woff),
  url(/fonts/Inter-Regular.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: url(/fonts/SF-Pro-Text-Bold.woff),
  url(/fonts/SF-Pro-Text-Bold.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url(/fonts/SF-Pro-Text-Regular.woff),
  url(/fonts/SF-Pro-Text-Regular.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Text-Semibold';
  src: url(/fonts/SF-Pro-Text-Semibold.woff),
  url(/fonts/SF-Pro-Text-Semibold.woff2);
  font-style: normal;
  font-display: swap;
}


