

.pointer {
  min-width: 50px;
  height: 50px;
  border: 1.5px solid rgba(204, 204, 204, 1);
  border-radius: 100%;
  background-color: var(--color-white);
}

option {
  font-size: 1.6rem;
}

.btn {
  min-width: 110px;
  border-radius: 7px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  display: flex;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  &:hover {
  opacity: 1;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 40px;  
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__btn {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 18px;
  background-image: url(/images/nav/login-icon.svg);
  background-repeat: no-repeat;
  align-items: center;
  align-self: center;
  background-position-y: 50%;
  background-position-x: 22%;
  padding: 11px 25px 11px 50px;
}

.nav__text {
  @extend %fDMSANS700;
  font-size: 29px;
  line-height: 39px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  margin-right: 110px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 110px;
}

.nav-list__item {
  &:not(:last-child) {
  margin-right: 30px;
  }
}

.nav-list__link {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-bgdescr);
  text-decoration: none;
  transition: .1s ease-in-out;
  white-space: nowrap;
  &:hover {
  border-bottom: 2px solid var(--color-blue);
  color: var(--color-blue);
  }
}

.nav__input {
  @extend %fDMSANS400;
  min-width: 250px;
  height: 40px;
  font-size: 11px;
  line-height: 14px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  color: #888888;
  padding: 13px 110px 13px 15px;
  align-self: center;
  background-image: url(/images/nav/search-icon.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 35%;
  margin-right: 5px;
  transition: opacity 5s ease-in-out;
  opacity: 1;
  &:focus::placeholder {
  opacity: 0;
  transition: opacity .4s ease-in-out;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: right;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.main__text {
  margin-top: 23%;
}

.main-text__descr {
  @extend %fPoppins600;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-bgdescr);
}

.main-text__title {
  @extend %fPoppins600;
  font-size: 52px;
  line-height: 83px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 18px;
  margin-top: 2px;
}

.main__btn {
  display: inline;
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  min-width: 150px;
  height: 50px;
  padding: 15px 65px 14px 26px;
  background-image: url(/images/main/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 85.5%;
}

.main-statistics {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.main-statistics__item {
@extend %fPoppins600;
  font-size: 16px;
  color: var(--color-bgdescr);
  text-align: center;
&:not(:last-child) {
  margin-right: 65px;
  }
}

.statistics-item__descr {
  @extend %fDMSANS700;
  font-size: 50px;
  line-height: 95px;
  color: var(--color-black);
}

.main__image {
  display: grid;
  justify-content: right;
  position: relative;
}

.main-image__item {
  border-radius: 20px;
}

.main-image__bg1 {
  position: absolute;
  left: -16%;
  top: 2%;
}

.main-image__bg2 {
  position: absolute;
  left: 64%;
  top: 62%;
}

.main-image__bgplay {
  position: absolute;
  left: -10%;
  top: 46%;
}


.frashcollection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  align-content: center;
  margin-bottom: 100px;
}

.frashcollection-text__title {
  @extend %fPoppins600;
  color: var(--color-black);
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 30px;
}

.frashcollection-text__btn {
  display: inline;
  @extend %fDMSANS700;
  min-width: 122px;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 22px 9px 22px;
  margin: 0;
  margin-top: 18px;
  white-space: nowrap;
  letter-spacing: 0.6px;
}

.seller {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.seller__row1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 88px;
}

.seller__select_left {
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-black);
  border: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url(/images/seller/BestSellerArrow.svg);
  background-position-x: 95%;
  background-position-y: 50%;
  min-width: 330px;
}

.seller__select_right {
  position: relative;
}
.select_right__item {
  min-width: 251px;
  display: block;
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);
  padding: 16px 195px 16px 15px;
  border: 1.5px solid #CCCCCC;
  border-radius: 7px;
  appearance: none;
}

.seller__select_right_btn {
  display: inline-block;
  min-width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: var(--color-blue);
  background-image: url(/images/seller/TodayArrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  left: 85.5%;
  top: 15%;
  align-self: center;
}

.seller__row2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  justify-content: center;
  align-content: center;
  margin-bottom: 88px;
}

.seller-item {
  height: 262px;
  min-width: 270px;
  background-color: rgba(243, 244, 245, 1);
  border-radius: 15px;
  display: grid;
  align-content: center;
  justify-items: center;
  position: relative;
}

.seller-item__image { 
  min-width: 82px;
  border-radius: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: -20%;
  left: 35%;
  border: 2px solid var(--color-blue);
  background-color: var(--color-blue);
  cursor: pointer;
}

.seller-item__name {
  @extend %fDMSANS700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.seller-image-photo {
  display: block;
  min-width: 80px;
  height: 77px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.seller__icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

.seller-icon__item {
  background-color: var(--color-lightblue);
  min-width: 30px;
  padding: 6px 6px 7px 7px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  &:first-child {
  background-color: var(--color-blue);
  min-width: 60px;
  height: 30px;
  border-radius: 26px;
  color: var(--color-white);
  @extend %fDMSANS500;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  }
}

.seller__etherium {
  @extend %fDMSANS700;
  color: var(--color-black);
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 16px;
}

.seller__hr {
  height: 2px;
  width: 230px;
  background-color: rgba(221, 221, 221, 1);
  margin-bottom: 20px;
}

.seller__btn {
  min-width: 80px;
  padding: 9px 9px 10px 10px;
  background-color: rgba(151, 87, 215, 1);
  color: var(--color-white);
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  &:hover {
  opacity: 1;
  }
}

.seller__pointer_left {
  align-self: center;
  background-image: url(/images/seller/GrayArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(/images/seller/BlueArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  }
}

.seller__pointer_right {
  align-self: center;
  background-image: url(/images/seller/GraArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(/images/seller/BlueArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  }
}


.explore {
  display: grid;
  align-content: center;
}

.explore__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
  margin-top: 100px;
}

.explore-header__title {
  color: var(--color-black);
  align-self: center;
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

.explore__pointer_left {
  min-width: 35px;
  height: 35px;
  align-self: center;
  background-image: url(/images/explore/GrayArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  margin-right: 10px;
&:hover {
  background-image: url(/images/explore/WhiteArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-blue);
  }
}

.explore__pointer_right {
  min-width: 35px;
  height: 35px;
  align-self: center;
  background-image: url(/images/explore/GrayArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(/images/explore/WhiteArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-blue);
    }
  }


.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-content: center;
  justify-items: center;
  margin-bottom: 80px;
}

.gallery__column {
  position: relative;
}

.gallery-column__image {
  display: block;
  border-radius: 15px;
  margin-bottom: 16px;
}

.gallery-column__icon {
  min-width: 30px;
  padding: 15px 15px 15px 15px;
  background-color: var(--color-white);
  border-radius: 100%;
  background-image: url(/images/gallery/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 4%;
  left: 83%;
  cursor: pointer;
  transition: .2s ease-in-out;
&:hover {
  background-image: url(/images/gallery/heartred.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;
  }
}

.gallery-column__btn {
  min-width: 140px;
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 43px 11px 19px;
  position: absolute;
  top: 55%;
  left: 25%;
  background-image: url(/images/gallery/iconbtn.svg);
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
  opacity: 0.8;
  transition: .2s ease-in-out;
  &:hover {
  opacity: 1;
  }
}

.gallery__row {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 15px;
}

.gallery-row__descr {
  color: var(--color-black);
  @extend %fPoppins500;
  font-size: 16px;
  line-height: 24px;
}

.gallery-row__grade {
  min-width: 60px;
  padding: 4px 4px 4px 4px;
  display: inline-block;
  text-align: center;
  border: 1.5px solid var(--color-green);
  border-radius: 5px;
  @extend %fDMSANS700;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-green);
  white-space: nowrap;
}

.gallery-row__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & span {
  margin-left: 10px;
  }
}

.row-photo__item {
  border-radius: 100%;
  &:not(:first-child) {
  margin-left: -7px
    }
  }

.gallery-row__text {
  display: inline-block;
  @extend %fDMSANS400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(102, 102, 102, 1);
}

.gallery-row__highest {
  @extend %fDMSANS400;
  color: #9E9E9E;
  font-size: 11px;
  line-height: 14px;
  margin-left: 9px;
}

.highest__descr {
  @extend %fDMSANS700;
  font-size: 11px;
  line-height: 14px;
  color: var(--color-black);
  }

.gallery-row__btn {
  @extend %fDMSANS500;
  font-size: 11px;
  line-height: 14px;
  min-width: 60px;
  padding: 6px 6px 5px 5px;
  border-radius: 5px;
  background-color:rgba(55, 114, 255, 0.2);
  border: none;
  margin-left: 70px;
  &:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  transition-duration: .2s;
  }
}

.marketplace {
  padding-bottom: 100px;
  position: relative;
}

.marketplace__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.marketplace-header__title {
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-black);
  margin: 0;
}

.marketplace__button {
  position: relative;
}
.marketplace__button_arrow {
  min-width: 251px;
  height: 50px;
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  border: 1.5px solid  rgba(204, 204, 204, 1);
  border-radius: 7px;
  padding: 16px 66px 16px 12px;
}

.marketplace__pointer_right {
  min-width: 35px;
  height: 35px;
  align-self: center;
  background-image: url(/images/marketplace/WhiteArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: var(--color-blue);
  top: 16%;
  left: 83.5%;
}

.marketplace__about {
  background-color: var(--color-white);
  border-radius: 20px;
  margin-top: 60px;
}

.marketplace-about__title {
  display: inline-block;
  margin-top: 54px;
  @extend %fDMSANS700;
  font-size: 25px;
  line-height: 33px;
  color: var(--color-black);
  padding-left: 15%;
  letter-spacing: 0.6px;
  position: relative;
}

.marketplace-icon {
  min-width: 11px;
  height: 11px;
  border: 1px solid #CCCCCC;
  border-radius: 100%;
  position:absolute;
  cursor: pointer;
  &:hover {
    background-color: var(--color-blue);
    transition-duration: .2s;
  }
}

.marketplace-icon__circle1 {
  top: 55%;
  left: 3%;
}

.marketplace-icon__circle2 {
  top: 58%;
  left: 3%;
}

.marketplace-icon__circle3 {
  top: 61%;
  left: 3%;
}

.marketplace-about__descr {
  @extend %fDMSANS400;
  font-size: 16px;
  line-height: 24px;
  color:  rgba(136, 136, 136, 1);
  padding-left: 15%;
  padding-right: 6%;
  margin-top: 27px;
}

.marketplace-about__list {
  margin-top: 9px;
  padding: 0;
  padding-bottom: 50px;
  & li {
    display: flex;
    align-items: center;
  &::before {
    content: '';
    background-image: 
    url(/images/marketplace/сustomcircle.svg);
    background-repeat: no-repeat;
    min-width: 7px;
    height: 7px;
    margin-right: 10px;
  }
  &:not(:last-child) {
    margin-bottom: 11px;
    }
  }
}

.marketplace__btnquestion {
    display: block;
    min-width: 40px;
    height: 40px;
    background-color: var(--color-blue);
    border-radius: 100%;
    border: none;
    background-image: 
    url(/images/marketplace/btnquestion-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 39%;
    left: 10%;
    cursor: pointer;
  }


.popular {
  display: grid;
  align-content: center;
}

.popular-title {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 55px;
  @extend  %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
}

.popular-btnrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.popular-btn-right {
  display: flex;
  gap: 20px;
}

.popular-btn {
  min-width: 70px;
  padding: 5px 5px 5px 5px;
  @extend %fDMSANS500;
  color: rgba(136, 136, 136, 1);
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(204, 204, 204, 1);
&:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  transition-duration: .2s;
}
&:not(:last-child) {
  margin-right: 10px;
}
}

.popular-btn-allitem {
  min-width: 80px;
}

.popular-btn-art {
  min-width: 50px;
}

.popular-btn-clebrities {
  min-width: 90px;
}

.popular-newestbtn {
  min-width: 140px;
  height: 50px;
  @extend %fDMSANS700;
  color: var(--color-white);
  font-size: 16px;
  line-height: 21px;
  border-radius: 7px;
  background-color: rgba(151, 87, 215, 1);
  border: none;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: .2s ease-in-out;
  &:hover {
  opacity: 1;
  }
  & span {
  margin-left: 14px;
  } 
}

.popular-filterbtn {
  min-width: 120px;
  padding: 14px 14px 15px 15px;
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white);
  border-radius: 7px;
  border: none;
  background-color: var(--color-blue);
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: .2s ease-in-out;
  &:hover {
  opacity: 1;
  }
  & span {
  margin-left: 15px;
  }
}

.popular__loadmorebtn {
  min-width: 140px;
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 18px 14px 40px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background-image: url(/images/popular/loadmore-icon-btn.svg);
  background-repeat: no-repeat;
  background-position-x: 17%;
  background-position-y: 50%;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  &:hover {
  opacity: 1;
  }
}


.collections {
  position: relative;
  display: grid;
  align-content: center;
  margin-bottom: 100px;
}

.collections__title {
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-black);
  padding-top: 50px;
  margin-top: 0;
  margin-left: 80px;
}

.collections__column-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 45px;
  & img {
  border-radius: 15px;  
  }
}

.collections__column {
  display: grid;
  grid-template-columns: repeat(2, 75% 25%);
  &:not(:last-child) {
  margin-right: 30px;
  }
}

.collections-column__left {
  margin-right: 10px;
}

.column-right__image {
  display: block;
  &:not(:last-child) {
  margin-bottom: 10px;
  }
}

.collections__number {
  position: absolute;
  color: var(--color-white);
  @extend %fDMSANS700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  cursor: pointer;
}

.collections-number-wrapper {
  position: relative;
}
.collections-column__number1 {
  top: 40%;
  left: 26%;
}

.collections-column__number2 {
  top: 40%;
  left: 27.5%;
}

.collections-column__number3 {
  top: 40%;
  left: 33%;
}

.collections__row {
  grid-column: 1/3;
}

.collections-row__subtitle {
  @extend %fPoppins600;
  font-size: 25px;
  line-height: 44px;
  color: var(--color-black);
  margin: 0;
  max-width: 270px;
  white-space: nowrap;
}

.collections-row__text {
  display: flex;
  align-items: center;
  @extend %fDMSANS500;
  font-size: 16px;
  line-height: 21px;
  color: #888888;
}

.collections-row__icon {
  min-width: 25px;
  height: 25px;
  background-image:url(/images/collections/icon.svg);
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.row-icon__span {
  @extend %fDMSANS700;
  color: var(--color-black);
  margin-left: 5px;
}

.start {
  display: grid;
  align-content: center;
  position: relative;
  justify-content: center;
}

.start__image {
  margin-top: 100px;
  margin-bottom: 100px;
}

.start__text {
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
  position: absolute;
  top: 38%;
  left: 9%;
  letter-spacing: 2.5px;
}

.start__title {
  @extend %fPoppins600;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-white);
  position: absolute;
  top: 38%;
  left: 9%;
  margin-top: 16px;
}


.start-btn__btncreate {
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  min-width: 140px;
  padding: 15px 24px 14px 24px;
  position: absolute;
  display: block;
  top: 45%;
  left: 60%;
}


.start-btn__btndiscover {
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  min-width: 160px;
  padding: 15px 25px 14px 24px;
  position: absolute;
  display: block;
  top: 45%;
  left: 74%;
}

.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  margin-top: 100px;
  border-bottom: 1px solid  #AAAAAA;
}

.footer__column {
  position: relative;
  height: 275px;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-logo__image {
  display: flex;
} 

.footer-title__main {
  @extend %fDMSANS700;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  padding-bottom: 10px;
  display: block;
}

.footer__title {
  @extend %fDMSANS500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-totalblack);
  margin-bottom: 41px;
  margin-top: 13px;
  display: block;
  transition: .2s ease-in-out;
  &:hover {
  color: var(--color-blue);
  }
}

.footer__descr {
  @extend %fDMSANS500;
  color: rgba(136, 136, 136, 1);
  font-size: 16px;
  line-height: 24px;
  max-width: 270px;
  margin-bottom: 30px ;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer-social__item {
  &:not(:last-child) {
  margin-right: 10px;
  }
}

.social-item__link {
  display: block;
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #CCCCCC;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: .2s;
  &:hover {
  background-color: var(--color-blue);
  }
}

.footer__link {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 24px;
  color: #888888;
  display: block;
  &:not(:last-child) {
  margin-bottom: 5px;
  }
  transition: .2s ease-in-out;
  &:hover {
  color: var(--color-blue);
  transition: .2s ease-in-out;
  }
}

.footer__form {
  position: relative;
}
.footer-form__input {
  min-width: 270px;
  height: 50px;
  border-radius: 7px;
  border: 1.5px solid #CCCCCC;
  padding: 16px 120px 16px 14px;
  transition: opacity 5s ease-in-out;
  opacity: 1;
  &:focus::placeholder {
  opacity: 0;
  transition: opacity .4s ease-in-out;
  }
}

.footer-form__btn {
  min-width: 35px;
  height: 35px;
  background-color: var(--color-blue);
  border-radius: 100%;
  border: none;
  background-image:url(/images/footer/input-btn-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 84%;
  top: 15%;
}


.social-item__linkfb {
  background-image: url(/images/footer/fb-icon-gray.svg);
  &:hover {
  background-image: url(/images/footer/fb-icon-white.svg);
  }
}

.social-item__linktw {
  background-image: url(/images/footer/tw-icon-gray.svg);
  &:hover {
  background-image: url(/images/footer/tw-icon-white.svg);
  }
}

.social-item__linkinst {
  background-image: url(/images/footer/inst-icon-gray.svg);
  &:hover {
  background-image: url(/images/footer/inst-icon-white.svg);
  }
}

.social-item__linkin {
  background-image: url(/images/footer/in-icon-gray.svg);
  &:hover {
  background-image: url(/images/footer/in-icon-white.svg)
  }
}

.footer__bottom {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 16vh;
}

.footer-bottom__copyright {
  font-size: 14px;
  line-height: 18px;
  color: #AAAAAA;
  white-space: nowrap;
  } 




//*discover section css*//

.keywords {
  position: relative;
}

.keywords__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

.keywords__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 33px;
  margin-top: 103px;
}

.keywrods__text {
  margin: 0;
  @extend  %fDMSANS400;
  font-size: 30px;
  line-height: 45px;
  color: var(--color-totalblack);
}

.keywords__search {
  position: relative;
}
.keywords-search__input {
  @extend %fDMSANS400;
  min-width: 270px;
  height: 50px;
  border-radius: 7px;
  border: 1.5px solid #CCCCCC;
  color: #888888;
  font-size: 13px;
  line-height: 17px;
  padding: 17px 94px 16px 15px;
}

.keywords-search__btn {
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  background-image: url(/images/keywords/keywords-search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 17.7%;
  left: 86.3%;
}

.keywords__button {
  position: relative;
}
.keywords__select {
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-totalblack);
  min-width: 250px;
  height: 50px;
  border: 1.5px solid #CCCCCC;
  border-radius: 7px;
  padding: 16px 45px 16px 14px;
  margin-left: 20px;
}

.keywords-button_arrow {
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1.5px solid #CCCCCC;
  background-color: var(--color-white);
  background-image: url(/images/keywords/keywords-arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 18%;
  left: 83%;
}

.keywords__btnrow {
  display: flex;
}

.keywords__btn {
  min-width: 70px;
  height: 30px;
  @extend %fDMSANS500;
  color: rgba(136, 136, 136, 1);
  background-color: var(--color-white);
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(204, 204, 204, 1);
  &:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  transition-duration: .2s;
}
  &:not(:last-child) {
  margin-right: 10px;
  }
}

.keywords-btn__allitem {
  min-width: 65px;
}

.keywords-btn__art {
  min-width: 50px;
}

.keywords-btn__clebrities {
  min-width: 90px;
}



/* product-detalis section css */
.nav__profile {
  border-radius: 7px;
  min-width: 136px;
  height: 40px;
  border: 1.5px solid #CCCCCC;
  align-items: center;
  align-self: center;
  margin-left: 18px;
}


.nav__profile {
  display: flex;
  justify-content: space-around;
}

.nav-profile__icon {
  border-radius: 100%;
}

.profile-status__profit {
  @extend %fDMSANS700;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-totalblack);
}

.profile-status__eth {
  @extend %fDMSANS700;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-blue);
}

.productdetalis {
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  display: grid;
  max-width: 1168px;
  margin: 0 auto;
  margin-top: 100px;
}

.productdetalis__image {
  border-radius: 20px;
  max-width: 770px;
}

.productdetalis__title {
  @extend %fPoppins500;
  font-size: 30px;
  line-height: 45px;
  color: var(--color-totalblack);
  margin-bottom: 16px;
}

.productdetalis__grade {
  display: inline-block;
  min-width: 60px;
  height: 25px;
  border: 1.5px solid var(--color-green);
  border-radius: 5px;
  padding: 6px 8px 5px 5px;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-green);
}

.prodctdetalis__text {
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
  margin-left: 7px;
}

.productdetalis__price {
  @extend %fDMSANS700;
  font-size: 20px;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 21px;
}

.productdetalis__decrp {
  @extend %fDMSANS400;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  margin-bottom: 15px;
}

.owner__title {
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-totalblack);
  display: block;
  margin-bottom: 10px;
}

.owner__item {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

.owner-item__photo {
  border-radius: 100%;
  margin-right: 15px;
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 3px solid var(--color-blue);
    background-color: var(--color-blue);
    min-width: 59px;
    height: 59px;
    margin-right: 16px;
  }
}

.owner-item__name {
  display: block;
  @extend %fDMSANS700;
  font-size: 14px;
  font-size: 18px;
  color: var(--color-totalblack);
  align-self: center;
}

.owner__info {
  border: 1.5px solid #CCCCCC;  
  border-radius: 7px;
  padding: 4px 4px 5px 5px;
  display: flex;
  justify-items: center;
  margin-bottom: 30px;
}

.owner__btn {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 18px;
  color: #888888;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  align-self: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
&:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 5px;
  text-align: center;
}
&:first-child {
  margin-left: 20px;
}
&:not(:last-child) {
  margin-right: 25px;
  }
}

.owner__btninfo {
  min-width: 25px;
  padding: 10px 18px 10px 18px;
}

.owner__btnart {
  min-width: 21px;
  padding: 10px 18px 10px 18px;
}

.owner__btnclebrities {
  min-width: 65px;
  padding: 10px 18px 10px 18px;
}

.owner__result { 
  @extend %fDMSANS400;
  font-size: 13px;
  line-height: 17px;
  color: #666666;
  align-self: center;
}

.owner__result_strong {
  color: var(--color-totalblack);
  @extend %fDMSANS700;
  display: inline;
  align-self: center;
}

.owner__button {
  @extend %fDMSANS700;
  margin-top: 30px;
  font-size: 14px;
  line-height: 18px;
  min-width: 200px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  color: var(--color-totalblack);
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
&:hover {
  background-color: var(--color-blue);
  border: none;
  color: var(--color-white);
  }
}

.owner__buttonpurchase {
  margin-right: 15px;
}


/* best-seller section css */

.bestseller__main {
  position: relative;
  margin-bottom: 50px;
  justify-content: center;
  display: grid;
}


.bestseller__bg {
  border-radius: 13px;
}

.bestseller__photo {
  border-radius: 100%;
  border: 5px solid #FFFFFF;
  position: absolute;
  top: 32%;
    left: 43%;
}

.bestseller__name {
  @extend %fDMSANS700;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-totalblack);
  margin-top: 95px;
  text-align: center;
}

.bestseller__link {
  display: inline;
  @extend %fDMSANS400;
  font-size: 11px;
  line-height: 14px;
  color: #666666;
  padding: 8px 31px 8px 11px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  min-width: 180px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  background-image: url(/images/best-seller/link-icon.svg);
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  cursor: pointer;
}

.bestseller__social {
  display: flex;
  justify-content: center;
}

.bestseller-social__item {
  &:not(:last-child) {
  margin-right: 10px;
  }
}

.bestseller-social-item__link {
  min-width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #EEEEEE;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s ease-in-out;
}

.bestseller-social-item__linkfb {
  background-image: url(/images/best-seller/fb-GRAY.svg);
  &:hover {
    background-color: var(--color-blue);
    background-image: url(/images/best-seller/fb-white.svg);
  }
}

.bestseller-social-item__linktw {
  background-image: url(/images/best-seller/tw-gray.svg);
  &:hover {
    background-color: var(--color-blue);
    background-image: url(/images/best-seller/tw-white.svg);
  }
}

.bestseller-social-item__linkinst {
  background-image: url(/images/best-seller/inst-gray.svg);
  &:hover {
    background-color: var(--color-blue);
    background-image: url(/images/best-seller/inst-white.svg);
  }
}

.bestseller-social-item__linkin {
  background-image: url(/images/best-seller/in-gray.svg);
  &:hover {
    background-color: var(--color-blue);
    background-image: url(/images/best-seller/in-white.svg);
  }
}


//*howitwork section css*//


.howitwork {
  display: grid;
  align-content: center;
  margin-bottom: 50px;
}

.howitwork__title {
  @extend %fPoppins600;
  font-size: 30px;
  line-height: 45px;
  color: var(--color-totalblack);
  margin-bottom: 21px;
  margin-top: 90px;
}

.howitwork__descr {
  @extend %fDMSANS500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 57px;
}

.howitwork__descr_blue {
  @extend %fDMSANS400;
  color: var(--color-blue);
  transition: .1s ease-in-out;
  &:hover {
  border-bottom: 2px solid var(--color-blue);
  }
}

.howitwork-column-wrapper {
  display: flex;
}

.howitwork__column_left {
  margin-right: 130px;
}

.column-left__item {
  @extend %fPoppins600;
  font-size: 13px;
  line-height: 20px;
  color: #888888;
  border-radius: 5px;
  border: none;
  background-color: #F3F4F5;
  display: flex;
  align-items: center;
  padding: 15px 270px 15px 47px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  transition: 0.3s ease-in-out;
  &:hover {
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
  }
  &:not(:last-child) {
  margin-bottom: 15px;
  }
}

.column-left__item01 {
  background-image: url(/images/howitwork/column-item01-gray.svg);
  &:hover {
  background-image: url(/images/howitwork/column-item01.svg);
  }
}

.column-left__item02 {
  background-image: url(/images/howitwork/column-item02.svg);
  &:hover {
  background-image: url(/images/howitwork/column-item02-white.svg);
  }
}

.column-left__item03 {
  background-image: url(/images/howitwork/column-item03.svg);
  &:hover {
  background-image: url(/images/howitwork/column-item03-white.svg);
  }
}

.column-left__item04 {
  background-image: url(/images/howitwork/column-item04.svg);
  &:hover {
  background-image: url(/images/howitwork/column-item04-white.svg);
  }
}

.column-left__item05 {
  background-image: url(/images/howitwork/column-item05.svg);
  &:hover {
  background-image: url(/images/howitwork/column-item05-white.svg);
  }
}

.howitwork__column_right {
  border-top: 1px solid #EEEEEE;
}

.column-right__item {
  @extend %fPoppins500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-totalblack);
  padding-top: 23px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  border-top: 1px solid #EEEEEE;
  cursor: pointer;
}

.column-right_item1 {
  margin-bottom: 0;
  background-image: url(/images/howitwork/howitwork-arrow.svg);
  background-position-y: 55%;
  background-position-x: 98%;
}

.column-right__descr {
  @extend %fPoppins400;
  color: #888888;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 32px;
}

.column-right_item2 {
  background-image: url(/images/howitwork/howitwork-arrow.svg);
  background-position-y: 35%;
  background-position-x: 98%;
}

.column-right_item3 {
  background-image: url(/images/howitwork/howitwork-arrow.svg);
  background-position-y: 35%;
  background-position-x: 98%;
}

.column-right_item4 {
  background-image: url(/images/howitwork/howitwork-arrow.svg);
  background-position-y: 35%;
  background-position-x: 98%;
}

.column-right_item5 {
  border-bottom: 1px solid #EEEEEE;
  background-image: url(/images/howitwork/howitwork-arrow.svg);
  background-position-y: 45%;
  background-position-x: 98%;
}

