.header {
  background-color: var(--color-white);
}

.nav {
  display: flex;
  padding-top: 11px;
  justify-content: space-between;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(240, 240, 240, 1)
}
.nav__list {
  display: flex
}

.list-item_delevery {
  display: flex;
  margin-right: 243px;
  gap: 40px;
  align-items: center;
}

.list-item__location {
  display: flex;
}

.nav-list__icon {
  width: 13px;
  height: 20px;
  margin-right: 12px;
}

.list-item_login {
  display: flex;
  gap: 41px;
  align-items: center;
}

.list-item__city {
  weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: url(../images/header/city__icon__arow.svg) no-repeat;
  background-position-x: 55%;
  background-position-y: 50%;
}

.nav-list__link {
  weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.nav__login {
  display: flex;
  gap: 40px;
}

.list-item_login {
  display: flex;
  gap: 10px;
}

.login__icon {
  width: 20px;
  height: 20px;
}

.delevery {
  display: flex;
  margin-top: 11px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(240, 240, 240, 1)
}

.delevery__logo {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.delevery-logo__text {
  color: var(--color-black);
  weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.basket__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 89px;
  height: 40px;
  background-color: rgba(255, 112, 16, 1);
  weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-white);
  justify-items: center;
  align-items: center;
}

.logo {
  display: flex;
}
.assortment {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.assortment__item {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--color-white);
  min-width: 135px;
  height: 104px;
  border-radius: 12px;
  border:1px solid #F0F0F0;
}

.assortment-item__descr {
  weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--color-black);
  margin-bottom: 32px;
}


.item_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


.item {
  min-width: 340px;
  background-color: var(--color-white);
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 12px;
  align-items: center;
  display: grid;
  padding: 0 20px;
}
.item__name {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
  font-weight: 600;
  margin-bottom: 12px;
  padding-top: 16px;
}

.item__descr {
  color: var(--color-black);
  font-weight: 400px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

.item__costs {
  color: var(--color-orange);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.pizza__image {
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.btnchoise {
  background-color: var(--color-orange);
  min-width: 131px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-white);
  padding: 13px 23px 13px 32px;
  border: none;
  border-radius: 6px;
}


.promotions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.promotions__item {
  display: grid;
  width: 300px;
  height: 343px;
  border-radius: 12px;
  position: relative;
}
.promotions-item__image {
  display: grid;
  align-self: flex-end;
}
.item_orange {
  position: absolute;
}

.item_orange_centre {
  top: 6%;
  left: 15%;
  z-index: 1;
}

.item_orange_right {
  top: 1%;
  left: 57%;
}

.promotions-item__descr {
  weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-white);
  align-self: flex-end;
  padding: 0 40px 20px 20px;
}

.item__descr_orange {
  padding: 0 97px 20px 20px;
}

.promotions__item_orange {
  background-color: rgba(255, 112, 16, 1);
}

.promotions__item_red {
  background-color: rgba(226, 53, 53, 1);
}


.pizza__header {
  display: flex;
  justify-content: space-between;
}

.delevery__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
  border-radius: 8px;
  height: 80px;
  margin-bottom: 30px;
}
.delevery__text {
  weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.delevery__input {
  padding: 13px 547px 13px 40px;
  background-color: var(--color-white);
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 6px;
  weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(165, 165, 165, 1);
  background-image: url(../images/delevery__aria/input__icon.svg);
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 1%;
}

.delevery__button {
  min-width: 150px;
  width: 150px; 
}