%fDMSANS700 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 700;
}


%fDMSANS500 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 500;
}

%fDMSANS400 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 400;
}


%fPoppins600 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
}

%fPoppins500 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
}


%fPoppins400 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
}