/* стили кнопок, полей форм и прочих мелких общих элементов */


/* GENERAL STYLE ITEM */

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.item_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 30px;
}

.title {
  font-family: 'Inter-Regular';
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--color-black);
  margin-bottom: 32px;
}

.logo__text {
  margin-left: 15px;
  align-self: center;
}

.item {
  min-width: 300px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  align-items: center;
  display: grid;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in-out;  
  &:hover {
    margin-top: -8px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 5px #FF7010;
    
  }
}

.item__name {
  font-family: 'SF-Pro-Text-Regular';
  @extend %fontLarge;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-black);
  margin-bottom: 12px;
  margin-top: 16px;
  padding: 0 20px;
}

.item__descr {
  color: var(--color-black);
  font-weight: 400px;
  @extend %fontSmall;
  margin-bottom: 16px;
  padding: 0 20px;
}

.item__costs {
  color: var(--color-orange);
  font-weight: 600;
  @extend %fontLarge;
  line-height: 24px;
  align-self: center;
}

.item__image {
  border-radius: 12px;
  justify-self: center;
  height: 100%;
}

.sushi__image {
  justify-self: center;
}

.item__bottom_choise {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}

.general__foodsec {
  margin-bottom: 48px;
}


/* GENERAL BUTTON STYLE */


.btnchoise {
  background-color: var(--color-orange);
  min-width: 131px;
  font-weight: 400px;
  @extend %fontSmall;
  color: var(--color-white);
  padding: 13px 23px 13px 32px;
  border: none;
  border-radius: 6px;
}

.btnfilter {
  @extend %fontSmall;
  min-width: 126px;
  height: 40px;
  font-weight: 400;
  padding: 9px 16px 9px 40px;
  color: var(--color-black);
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  border-radius: 6px;
  background-image: url(../images/filter__btn_icon.svg);
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 50%;
  align-self: center;
}

.item__promo {
  font-family: 'Inter-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  min-width: 65px;
  max-width: 65px;
  padding: 7px 16px;
  border: none;
  background-color: rgba(226, 53, 53, 1);
  color: var(--color-white);
  position: absolute;
  top: 4%;
  border-radius: 0px 5px 5px 0px;
}


.menu__dropdown {
  position: relative;
}

.menu__dropdown:hover .menu-dropdown__list {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out;
}


.menu-dropdown__list {
  transition: 0.4s ease-in-out;
  opacity:0;
  visibility:hidden;
  padding: 20px 15px 20px 20px;
  min-width: 285px;
  height: 328px;
  background-color: var(--color-white);
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  position: absolute;
  top: 320%;
  left: -150%;
  z-index: 1;
}

.menu-dropdown__list:before {
  content: ""; 
  border: solid transparent;
  position: absolute;   
  bottom: 100%;
  left: 50%;
  border-bottom-color: #eee;
  border-width: 9px;
  margin-left: -9px;
}

.menu-link__dropdown {
  background-image: url(../images/MENU/Menu__icon_arow.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5%;
  padding-bottom: 55px;
  padding-right: 21px;
}

.menu-dropdown__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.menu-dropdown__link {
  font-family: 'SF-Pro-Text-Regular';
  font-weight: 400;
  @extend %fontSmall;
}


.filter {
  position: fixed;
  top: 0%;
  right: 0;
  padding: 32px 20px 12px 20px;
  background-color: var(--color-white);
  height: 100vh;
}

.filter__header {
  display: flex;
  justify-content: space-between;
}

.filter-header__button {
  background-color: transparent;
  border: none;
}

.filter__title {
  font-family: 'Inter-Regular';
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}

.filter__subtitle {
  font-family: 'SF-Pro-Text-Regular';
  color:rgba(165, 165, 165, 1);
  font-weight: 400;
  @extend %fontSmall;
  margin-bottom: 12px;
  &:not(:first-child) {
    margin-top: 16px;
  }
}


.filter__rowbutton {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.filter-rowbutton__label  {
  display: flex;
  font-family: 'Inter-Regular';
  background-color: var(--color-white);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  user-select: none;
}

.filter__rowbutton label input:checked + span {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.filter-rowbutton__input {
  appearance: none;
  -webkit-appearance: none;
}

.filter-rowbutton__span {
  display: block;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
}





.filter__deliverybtn  {
  min-width: 230px;
  padding: 13px 71px;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  border-radius: 6px;
  font-weight: 400;
  @extend %fontSmall;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  margin-top: 40px;
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
  }
}

/* PIZZA LINK STYLE SECTION */

.pizzaLInk {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 30px 20px 30px 0;
}

.pizzaLInk__item {
  position: relative;
}

.pizzaLInk__image {
  height: 450px;
}
.pizzaLInk__images {
  position: relative;
  display: grid;
  align-self: center;
  justify-self: center;
}
.pizzaLink-item__promo {
  position: absolute;
  top: -21%;
  left: -8.3%;
}

.pizzaLInk-text__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.pizzaLInk-text__button {
  border: none;
  background-color: transparent;
}

.pizzaLInk-text__icon {
  float: left;
  margin-right: 11px;
}

.pizzaLInk__item_wrap {
  display: flex;
  justify-content: space-between;
}


.pizzaLInk-image_wrap {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 105px;
  height: 105px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  border-radius: 12px;
  margin-bottom: 8px;
  transition: border .2s ease-in-out;
  &:hover {
    border: 1px solid var(--color-orange);
  }
}

.pizzaLink-delete__icon {
  opacity: 0;
  position: absolute;
  top: 8%;
  left: 75%;
  transition: .3s ease-in-out;
}

.pizzaLInk__item:hover .pizzaLink-delete__icon {
  position: absolute;
  top: 8%;
  left: 75%;
  opacity: 1;
}

.pizzaLink-item__descr {
  font-family: 'Inter-Regular';
  max-width: 105px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--color-black);
  word-wrap: break-word;
  margin-bottom: 4px;
} 
.pizzaLink-item__costs {
  display: grid;
  justify-content: center;
}
.pizzaLInk__buttons {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 13px 0;
  position: relative;
}
.traditionalbtn__label__input {
  appearance: none;
}

.thin__dough__input {
  appearance: none;
}

.traditionalbtn__label input:checked ~ span {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 6px;
  width: 262px;
  padding: 13px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  font-weight: 400;
  @extend %fontLarge;
}

.thin__dough__label input:checked ~ span {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 6px;
  padding: 13px 0;
  width: 262px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 50%;
  font-weight: 400;
  @extend %fontLarge;
}

.pizzaLInk__subtitle {
  margin-bottom: 16px;
}

.pizzaLink__footer {
  margin-top: 40px;
}

.pizzaLink-item__costs {
  font-family: 'Inter-Regular';
  color: var(--color-orange);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.pizzaLink-approve__icon {
  
}
.pizzaLInk__item:hover .pizzaLink-approve__icon {
  position: absolute;
  top: 8%;
  left: 75%;
  opacity: 1;
}

.pizzaLink-approve__icon {
  opacity: 0;
  position: absolute;
  top: 8%;
  left: 75%;
  transition: .3s ease-in-out;
}

.pizzaLink__footer {
  display: flex;
  justify-content: space-between;
}

.pizzaLink-footer__sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sum__costs {
  font-family: 'Inter-Regular';
  font-weight: 600;
  color: var(--color-orange);
  @extend %fontLarge;
  line-height: 28px;
  margin-right: 12px;
}

.footer-sum__gram {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color:rgba(165, 165, 165, 1);
}

.pizzaLink-footer__button {
  background-color: var(--color-orange);
  color: var(--color-white);
  min-width: 155px;
  padding: 15px 56px;
  border: none;
  border-radius: 6px;
}

