<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza | Куда-Пицца</title>
    <link rel="icon" href="images/pizzalogo32х32.png" type="image/x-icon" />
  </head>
  <body>
    <div class="root">
      <div class="wrap__header">
        <div class="container">
          <header class="header">
            <div class="header-top">
              <nav class="nav">
                <ul class="nav-list__item">
                  <div class="list-item_delivery">
                    <li class="nav-list__item list-item__location">
                      <img
                        draggable="false"
                        src="images/location.png"
                        alt="pizza"
                        class="nav-list__icon"
                      />
                      <select class="list-item__city" name="listcity" required>
                        <option value="1">Москва</option>
                        <option value="2">Санкт-Петербург</option>
                        <option value="3">Краснодар</option>
                        <option value="4">Казань</option>
                        <option value="5">Новосибирск</option>
                        <option value="6">Владивосток</option>
                        <option value="7">Другой.....</option>
                      </select>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link"> Проверить адрес </a>
                    </li>
                    <li class="nav-list__item">
                      <a href="#" class="nav-list__link">
                        <span class="link__time-delivery"
                          >Среднее время доставки*:</span
                        >
                        <span class="link__timer-delivery">00:24:19 </span>
                      </a>
                    </li>
                  </div>
                </ul>
                <div class="nav__login">
                  <li class="nav-list__item">
                    <a href="#" class="nav-list__link">
                      Время работы: с 11:00 до 23:00
                    </a>
                  </li>
                  <li class="nav-list__item list-item_login">
                    <img
                      draggable="false"
                      src="images/header/login__nav.svg"
                      alt="login"
                      class="login__icon"
                    />
                    <a href="#" class="nav-list__link nav-list__linkLOGIN">
                      Войти в аккаунт
                    </a>
                  </li>
                </div>
              </nav>
            </div>
            <div class="header-bottom">
              <div class="delivery">
                <a href="index.html" class="delivery__logo">
                  <img
                    draggable="false"
                    src="images/pizzalogo.png
              "
                    alt=""
                    class="delivery-logo__image"
                  />
                  <span class="delivery-logo__text">Куда пицца</span>
                </a>
                <div class="basket">
                  <a href="popup__nav.html" class="about"></a>
                  <div class="basket__item">
                    <img
                      draggable="false"
                      src="images/basket.png"
                      alt="basket"
                      class="basket__logo"
                    />
                    <span class="basket__sum">0 ₽</span>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </body>
</html>
